*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-----------NavBar----------------*/
nav{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-evenly;
    align-items: flex-start;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 1000;
    background-color: #fff;
    top: 0;
    left: 0;
    transform: translate3d(0, 1px, 0);
    transition: transform 0.3s;

}
/*Logo Inicio*/
.nav_img_div{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_img_div img{
   height: 55px;
   width: auto;
}
/*Lista de links*/
.nav_ul{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none; 
}
.nav_ul li{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_ul a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #3FB1DA;
    font-weight: 600;
}
.nav_ul a:hover{
    color: #74c4e0;
}
.nav_products{
    font-family: 'Roboto', sans-serif;
    color: #3FB1DA;
    font-weight: 600;
    position: relative;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}
.nav_products:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0deg);
}
.nav_products:hover > ul{
    animation: fadeIn 0.5s;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.nav_products i{
    margin-left: 5px;
    transform: var(--transform);
    transition: transform 0.3s;
}
.nav_products ul{
    height: auto;
    width: max-content;
    clip-path: var(--clip);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    background-color: #3FB1DA;
    list-style: none;
    z-index: 50000;
    padding: 20px;
}
.nav_products ul li{
    display: flex;
    justify-content: left;
    padding: 10px;
}
.nav_products ul li a{
    color: #fff;
}
.nav_products ul li a:hover{
    color: #dbf5ff;
}
.menu_hamburger{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}
.menu_hamburger i{
    display: block;
    color: #3FB1DA;
    font-size: 20px; 
}
/*------------- Fixed scroll----------*/
.scroll_down nav {
    transform: translate3d(0, -100%, 0);
    transition: transform 0.3s;
}

@media (max-width:800px){
    .nav_img_div{
        width: 60%;
    }
    .menu_hamburger{
        display: flex;
    }
    #nav_ul_display{
        transition: transform .5s;
        transform: none;
    }
    .nav_ul{
        display: grid;
        justify-content: start;
        align-items: flex-start;
        grid-auto-rows: max-content;
        grid-template-columns: 100%;
        position: fixed;
        background-color: #3FB1DA;
        max-width: 400px;
        height: 80vh;
        width: 100%;
        top: 100px;
        right: 0;
        bottom: 0;
        padding: 0;
        overflow-y: auto;
        text-align: start;
        transform: translate(100%);
        transition: transform .5s;
    }
    .nav_ul li{
        width: 100%;
        justify-content: start;
        align-items: flex-start;
        padding:25px 0;
        padding-left: 30px;
        height: auto;
    }
    .nav_ul li a{
        color: #fff;
    }
    .nav_ul li a:hover{
        color: #dbf5ff;
    }
    .nav_products{
        color: #fff;
        width: 100%;
        display: flex;
        flex-direction: column;
        --clip:0;
        overflow: hidden;
        height: 20px;
    }
    .nav_products ul{
        display: none;
        position: unset;
        width: 100%;
        margin-left: 20px;
        transform: translateY(0);
        border-left: 1px solid #fff;
    }
    .nav_products li{
        width: 100%;
        margin-left: auto;
        padding: 0;
        margin-top: 20px;
    }
    .nav_products i{
        position: absolute;
        right: 0;
        margin-right: 20px;
        transform: rotate(0);
    }
    #show_sublist{
        display: grid;
        height: 100%;
        background-color: #5fb9da;
    }
    #nav_products_active{
        background-color: #5fb9da;
    }
}