.count{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: center;
    height: max-content;
    margin-bottom: 10px;
    border: 1px solid rgb(195, 195, 195);
}
.btn-section{
    padding: 10px;
}
.btn-section button{
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 30px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: rgb(114, 114, 114);
}

.btn-section button:hover{
    background-color: rgb(226, 226, 226);
}