
/*----------Icono cart----------*/
.cart_icon{
    cursor:pointer;
    color:#fff;
    width: 20px;
    height: 20px;
}

/*----------Shop list----------*/
.itemList{
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:  repeat(3, 1fr);
    justify-items: center;
    z-index: 2;
}
.itemList_div{
    width: 100%;
    display: flex;
    height: 480px;
}
.itemList_link{
    height: 100%;
    width: 100%;
    z-index: 100;
    text-decoration: none;
}
.card{
    background: #0b0c0d; 
    background: linear-gradient(-30deg,#010101,#0b0c0d 70%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out; 
}
.card:hover{
    transition: all 0.2s;
    box-shadow:inset 0px 0px 0px 1px rgb(26, 26, 26);
}
.card:hover > .item_img_div{
    filter:brightness(1.2);
    transition: all 0.2s ease-in-out; 
}
.cardTextContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
}
.cardText{
    color:#fff;
    font-family:'Helvetica Neue' sans-serif;
    font-weight: 100;
    font-size: 15px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;

}
.item_img_div{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_img{
    width: 280px;
    height: 280px;
    object-fit: contain;
}

/*----------Counter----------*/
.count{
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 20px;
}
.count p{
    color: #fff;
}
.btn-section{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}
.btn-section button{
    background-color: transparent;
    width: 30px;
    height: 30px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(114, 114, 114);
    border: 1px solid rgb(0, 0, 0);
}

.btn-section button:hover{
    background-color: rgb(138, 138, 138);
}


.subMenu{
    width:100%;
    height: 40px;
    margin-top: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
}
.subMenu ul{
    z-index: 100;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    width: 20%;
    border-bottom: 1px solid #808080;

}
.subMenu_link{
    padding-bottom: 10px;
    z-index: 1000;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    color: #fff;
    width: 100%;
    height: 100%;
}
.subMenu_link:hover{
    color:#808080;
    transition: all 0.125s ease-out;
}

.particles{
    z-index: -1000;
  }




.item_detail_container{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.btn-section_child{

    background-color: rgb(119, 137, 167);
    padding: 10px;
    border-radius: 10px;
    width: max-content;
    height: max-content;
    color: #fff;
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
}